:root {
  --main-bg: #2a1d3a;
  --text: white;
  --element-bg: #332d41;
  --accent: #7119cb;
  --primary: #1d76d7;
  --secondary-text: #939fb4;
  --link: #939fb4;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

body {
  background-color: var(--main-bg);
  color: var(--text);
  font-family: Inter, sans-serif;
  font-size: 1em;
}

h1 {
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: EB Garamond, sans-serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: EB Garamond, sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: EB Garamond, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1;
}

a {
  text-decoration: underline;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

.div-block {
  display: flex;
}

.div-block-2 {
  grid-column-gap: 16px;
  grid-row-gap: 63px;
  grid-template-rows: repeat(auto-fit, 200px);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  grid-auto-columns: 1fr;
  align-items: stretch;
  padding: 50px;
  display: grid;
}

.main-bg {
  background-color: var(--main-bg);
  color: var(--main-bg);
}

.main-bg.full-height {
  height: 100%;
}

.element-bg {
  background-color: var(--element-bg);
  color: var(--element-bg);
}

.bg-gradient {
  color: var(--accent);
  background-image: linear-gradient(135deg, #5d3c85, #5c407d);
}

.primary {
  background-color: var(--primary);
  color: var(--primary);
}

.accent {
  background-color: var(--accent);
  color: var(--accent);
}

.text {
  background-color: #fff;
}

.heading.primary {
  color: var(--primary);
  background-color: rgba(0, 0, 0, 0);
}

.body {
  background-color: var(--main-bg);
}

.section {
  background-color: var(--element-bg);
}

.heading-2 {
  color: var(--primary);
}

.secondary-text {
  background-color: var(--secondary-text);
  color: var(--secondary-text);
}

.highlight {
  background-image: linear-gradient(112deg, #ca4ba6, #b44eef 53%, #a6e1fa);
  padding: 5px;
}

.stylesheet-colors-wrapper {
  flex-direction: column;
  display: flex;
}

.link {
  background-color: var(--link);
  color: var(--link);
}

.link-hover {
  color: #939fb4;
  background-color: #939fb4;
}

.div-block-4 {
  flex-direction: column;
  display: flex;
}

.full-height {
  height: 100%;
}

.frame-35776 {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-2 {
  color: #939fb4;
  text-align: right;
  font-size: 54px;
  font-weight: 300;
  line-height: 150%;
}

.frame-35775 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.headings-desktop-h1 {
  color: #fff;
  font-weight: 600;
  line-height: 100%;
}

.headings-desktop-h2 {
  color: #fff;
  font-size: 80px;
  font-weight: 400;
  line-height: 133%;
}

.headings-desktop-h3 {
  color: #fff;
  font-size: 54px;
  font-weight: 400;
  line-height: 150%;
}

.headings-desktop-h4 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: 150%;
}

.headings-desktop-h5 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  line-height: 150%;
}

.headings-desktop-h6 {
  color: #fff;
  font-size: 27px;
  font-weight: 400;
  line-height: 150%;
}

.background {
  z-index: 1;
  height: 100%;
  position: relative;
}

.body-2 {
  background-image: var(--image-i6dbfd645);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.image {
  z-index: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  position: absolute;
}

.home-header {
  z-index: 1;
  height: 100svh;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-top: 150px;
  padding-bottom: 75px;
  display: flex;
  position: relative;
}

.image-2 {
  transform: rotate(180deg);
}

.div-block-5 {
  z-index: 2;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(34, 0, 27, 0), #20001a 50%, rgba(33, 0, 26, 0));
  margin-top: -250px;
  position: absolute;
  top: auto;
}

.div-block-6 {
  background-image: linear-gradient(#000 54%, #fff);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.particles {
  position: relative;
}

.tc-particles {
  background-image: radial-gradient(circle, rgba(255, 204, 248, .8) 7%, rgba(255, 146, 251, .8) 33%, rgba(255, 146, 251, 0) 76%);
  display: none;
}

.navbar {
  z-index: 5;
  background-color: rgba(221, 221, 221, 0);
  padding: 10px 0;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.div-block-7 {
  justify-content: center;
  align-items: center;
  padding: 10px;
  display: flex;
  position: relative;
}

.nav-link {
  color: var(--text);
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  font-weight: 500;
  transition: all .2s ease-in-out;
  box-shadow: inset 0 0 0 -1px #5b356e;
}

.nav-link:hover {
  border-radius: 5px;
  box-shadow: inset 0 -50px 0 -1px #5b356e;
}

.nav-link.w--current {
  color: var(--text);
  border-radius: 5px;
  box-shadow: inset 0 -35px 0 -1px #5b356e;
}

.nav-link.w--current:hover {
  border-radius: 5px;
}

.quick-stack {
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
  position: relative;
}

.cell {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
}

.button {
  text-align: center;
  border-radius: 5px;
  padding: 5px 20px;
}

.button.primary {
  color: #fff;
  transition: all .2s;
}

.button.primary:hover {
  background-color: #094d97;
}

.h1 {
  font-size: 2.5em;
}

.special-heading.no-wrap {
  white-space: nowrap;
}

.div-block-8 {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(135deg, #eb89d4 18%, #8560ff 47%, #9bcbff 75%, #c9e1ff);
  -webkit-background-clip: text;
  background-clip: text;
  display: flex;
}

.page-wrapper {
  z-index: 2;
  max-width: 1400px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.page-wrapper.footer {
  min-height: auto;
  background-image: none;
  padding-bottom: 70px;
}

.page-wrapper.home {
  padding-top: 0;
}

.bg-shade {
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.mission-statement-wrapper {
  width: 50vw;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #3a2653;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  display: flex;
}

.paragraph {
  text-align: center;
  margin-bottom: 20px;
}

.mission-statement {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 0%;
  display: flex;
}

.highlight-border {
  -webkit-text-fill-color: inherit;
  background-image: linear-gradient(135deg, #ca4ba6, #b44eef 51%, #a6e1fa);
  background-clip: border-box;
  border-radius: .7rem;
  padding: 5px;
}

.highlight-border.form-wrapper {
  min-height: 70svh;
  position: -webkit-sticky;
  position: sticky;
  top: 2svh;
}

.div-block-10 {
  mix-blend-mode: lighten;
}

.div-block-11 {
  border-radius: 15px;
  padding: 5px;
}

.div-block-12 {
  border-radius: 15px;
}

.rotating-ring {
  z-index: 1;
  width: 39vh;
  height: 39vh;
  max-height: 30vw;
  max-width: 30vw;
  border: .25rem solid rgba(0, 0, 0, 0);
  border-radius: 100%;
  position: relative;
  transform: rotate(45deg);
}

.cell-3 {
  justify-content: flex-start;
  align-items: center;
}

.icon {
  width: 10vh;
  height: 10vh;
  max-height: 8vw;
  max-width: 8vw;
  color: #000;
  justify-content: center;
  align-items: center;
  display: flex;
  left: 0;
  transform: rotate(-45deg);
}

.icon.cross {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.icon.talk {
  color: #000;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.icon.tools {
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.icon.house {
  filter: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.icon-2 {
  width: 24px;
  height: 24px;
  color: #160042;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-14 {
  background-color: var(--main-bg);
}

.image-7 {
  width: 5rem;
  filter: invert();
}

.div-block-15 {
  height: 100vh;
  align-items: center;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.section-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-17 {
  display: block;
}

.div-block-18, .div-block-19 {
  display: flex;
}

.div-block-20 {
  padding: 5px;
  display: flex;
}

.div-block-20.highlight-border {
  width: 55vw;
  max-width: 550px;
  color: var(--main-bg);
}

.div-block-21 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-bottom: 2rem;
  display: flex;
}

.div-block-22 {
  background-color: #f2f3eb;
  border-radius: 8px;
  align-items: center;
  padding: 5px;
  display: flex;
}

.div-block-23 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.collection-item {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.image-8 {
  height: 100%;
  border-radius: 7px;
}

.button-2 {
  margin-left: auto;
  margin-right: auto;
}

.collection-list {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.footer-wrapper {
  z-index: 2;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(28, 11, 49, .55);
  margin-top: 100px;
  position: relative;
}

.div-block-24 {
  z-index: 1;
  width: 150px;
  height: 150px;
  background-image: var(--image-7b40fadb);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  position: relative;
}

.heading-3 {
  margin-top: 0;
  display: inline;
}

.cell-4 {
  justify-content: center;
  align-items: stretch;
}

.cell-5 {
  justify-content: center;
}

.quick-stack-2 {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex: 1;
  padding: 10px;
}

.cell-6 {
  align-items: center;
}

.footer-text {
  color: var(--secondary-text);
  text-align: center;
  margin-bottom: 0;
}

.cell-7, .cell-8 {
  align-items: center;
}

.quick-stack-3 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.link-block, .link-block-2 {
  text-decoration: none;
}

.cell-9 {
  justify-content: center;
  align-items: flex-end;
}

.footer-link {
  color: var(--link);
  text-align: center;
  text-decoration: none;
  transition: all .2s;
}

.footer-link:hover {
  box-shadow: inset 0 -2px 0 0 var(--link);
}

.div-block-25 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.cell-10 {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.div-block-26 {
  width: 2rem;
  height: 2rem;
}

.quick-stack-4 {
  grid-column-gap: 3px;
  grid-row-gap: 10px;
}

.div-block-27 {
  width: 100%;
  height: 2px;
  background-color: var(--link);
}

.image-9 {
  filter: brightness(200%) invert();
}

.cell-11 {
  padding-left: .3rem;
  padding-right: .3rem;
}

.image-10 {
  width: 100%;
}

.div-block-28 {
  align-items: center;
  display: flex;
}

.image-11, .image-12 {
  width: 100%;
}

.div-block-29 {
  border: 2px solid var(--secondary-text);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  flex-direction: column;
  align-items: stretch;
  margin-top: 60px;
  display: flex;
  overflow: hidden;
}

.div-block-30 {
  border-bottom: 2px solid var(--secondary-text);
  padding: 20px;
}

.heading-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.icon-3 {
  width: 2rem;
  height: 2rem;
}

.dropdown-toggle {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.dropdown-icon {
  width: 2rem;
  height: 2rem;
}

.dropdown {
  width: 100%;
  border-bottom: 2px solid var(--secondary-text);
  color: var(--text);
  cursor: pointer;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown.last {
  border-bottom-style: none;
}

.heading-5 {
  color: var(--text);
  margin-top: 0;
  margin-bottom: 0;
}

.dropdown-list {
  position: relative;
}

.dropdown-list.w--open {
  background-color: rgba(221, 221, 221, 0);
}

.heading-6 {
  text-align: center;
  font-size: 2.3em;
}

.div-block-31 {
  margin-top: 100px;
}

.section-3 {
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.div-block-32 {
  width: 600px;
  background-color: var(--element-bg);
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), var(--image-404e29bd);
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  border-radius: 7px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  display: flex;
}

.heading-7 {
  margin-top: 0;
  margin-bottom: 20px;
}

.quick-stack-5 {
  grid-column-gap: 20px;
  grid-row-gap: 5vh;
}

.quick-stack-6 {
  grid-column-gap: 5.25rem;
  grid-row-gap: 5.25rem;
}

.cell-12 {
  flex-direction: row;
  display: block;
}

.heading-8 {
  display: none;
}

.heading-9 {
  display: inline;
}

.cell-13 {
  justify-content: center;
  align-items: stretch;
}

.div-block-33 {
  height: 100%;
}

.div-block-34 {
  width: 100%;
  height: 100%;
}

.div-block-35 {
  width: 100%;
  height: 100svh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.div-block-36 {
  height: 100vh;
  align-items: center;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sp-progress-bar-wrapper {
  height: 3px;
  cursor: pointer;
  flex: 1;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 13px;
}

.progress-bar {
  width: 50%;
  height: 3px;
  background-color: #fff;
  position: relative;
}

.sp-media-player-bar-wrapper {
  width: 100%;
  color: rgba(255, 255, 255, .45);
  flex: 1;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  display: flex;
}

.sp-elapsed {
  flex-direction: row;
  display: flex;
}

.sp-progress-bar-background {
  background-color: rgba(240, 240, 240, .06);
}

.sp-pause {
  width: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.sp-pause.bg-music {
  width: 2rem;
  height: 2rem;
  margin-right: 0;
}

.sp-play {
  width: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.sp-play.bg-music {
  width: 2rem;
  height: 2rem;
  margin-right: 0;
}

.sp-controla-wrapper {
  width: 100%;
  align-items: center;
  padding: 10px 20px 10px 10px;
  display: flex;
}

.sp-controla-wrapper.bg-music {
  padding: 5px;
}

.true-progress-head {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: -3px;
  bottom: auto;
  left: auto;
  right: 0%;
}

.sp-thumbnail {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: 50% 0%;
}

.sp-track-wrapper {
  width: 100%;
  background-color: var(--element-bg);
  border-radius: .5rem;
  overflow: hidden;
}

.sp-title-wrapper {
  color: #fff;
  flex-direction: column;
  align-items: flex-start;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 1;
  display: flex;
}

.true-media-player-single-track {
  z-index: 100;
  display: none;
}

.sp-details-wrapper {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.sp-track {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.sp-artist-name {
  color: #fff;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.sp-title {
  color: rgba(255, 255, 255, .85);
  font-family: Inter, sans-serif;
  font-size: .875rem;
  font-weight: 300;
}

.cell-14 {
  justify-content: center;
}

.cell-15 {
  align-items: stretch;
}

.quick-stack-7 {
  grid-column-gap: 5rem;
  padding-left: 0;
}

.form {
  height: 100%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: var(--element-bg);
  border-radius: .5rem;
  flex-direction: column;
  grid-template-rows: repeat(auto-fit, minmax(0%, 0));
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  padding: 10px;
  display: flex;
}

.textarea {
  border-radius: 5px;
  flex: 1;
}

.text-field {
  border-radius: 5px;
}

.heading-10 {
  margin-top: 0;
}

.div-block-37 {
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.div-block-38 {
  height: 75svh;
  align-items: center;
  margin-bottom: 50px;
  display: flex;
}

.div-block-39 {
  height: 75px;
}

.image-15 {
  height: 100%;
}

.div-block-40 {
  flex: 1;
  position: relative;
}

.quick-stack-8 {
  min-height: 100svh;
  margin-top: -9rem;
  padding-bottom: 0;
  position: relative;
}

.cell-16 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.cell-17 {
  justify-content: center;
  align-items: center;
}

.body-5 {
  background-color: var(--main-bg);
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.image-16 {
  filter: contrast(200%) invert();
}

.heading-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.div-block-41 {
  filter: blur(16px);
  background-image: var(--image-7b40fadb);
  background-position: 50%;
  background-size: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-42 {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.rich-text-block {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin-top: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.success-message {
  height: 100%;
  background-color: var(--main-bg);
  border-radius: .5em;
}

.div-block-43 {
  height: 100%;
}

.div-block-44, .div-block-45 {
  height: 100px;
}

.div-block-46 {
  height: 40%;
}

.div-block-47 {
  height: 100%;
}

.div-block-48 {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.error-message {
  color: var(--element-bg);
  background-color: #ffc5c5;
  border-radius: .7em;
}

.text-block {
  text-align: center;
}

.hidden {
  display: none;
}

.stationary-particles {
  z-index: 0;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.mission-text li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.div-block-49 {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.bg-image {
  height: 100vh;
  background-image: var(--image-404e29bd);
  background-position: 0 0;
  background-size: cover;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.bg-image._2 {
  background-image: var(--image-404e4005);
  background-position: 50% 100%;
  background-size: cover;
  position: absolute;
}

.heading-12, .paragraph-2 {
  text-align: center;
}

.cell-18 {
  justify-content: center;
}

.nav-menu {
  flex: 1;
  justify-content: space-around;
  display: block;
}

.heading-13 {
  color: var(--text);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.2em;
}

.div-block-51 {
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
}

.brand {
  margin-left: 20px;
  margin-right: 20px;
}

.brand.mobile {
  display: none;
}

.div-block-52 {
  grid-column-gap: 6vw;
  grid-row-gap: 6vw;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.cross.blue {
  opacity: 0;
  filter: brightness(120%);
  position: absolute;
}

.div-block-13-copy {
  width: 40vh;
  height: 40vh;
  max-height: 30vw;
  max-width: 30vw;
  border: .25rem solid #fff;
  border-radius: 100%;
  position: absolute;
  transform: rotate(45deg);
}

.talk.blue, .house.blue, .tools.blue {
  opacity: 0;
  filter: brightness(120%);
  position: absolute;
}

.image-18 {
  opacity: 0;
}

.div-block-53 {
  z-index: 100;
  display: block;
  position: fixed;
  top: auto;
  bottom: 5%;
  left: auto;
  right: 5%;
}

.div-block-54 {
  margin-bottom: 10px;
}

.text-block-2 {
  display: block;
}

.div-block-55 {
  padding-top: 1rem;
}

.div-block-56 {
  overflow: hidden;
}

.div-block-7-copy {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  display: flex;
  position: relative;
}

.companies {
  width: 18%;
  aspect-ratio: 2.39 / 1;
  object-fit: cover;
  background-color: #fff;
  background-image: var(--image-7b40fadb);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 10px;
  overflow: hidden;
}

.companies.emdria {
  background-color: #fff;
  background-image: var(--image-1feb87f9);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 80%;
}

.companies.zoom {
  background-color: #fff;
  background-image: var(--image-1eb1fb21);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 85%;
}

.companies.psychology-today {
  background-color: #fff;
  background-image: var(--image-i30cd392d);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 90%;
}

.companies.theravive {
  background-image: var(--image-i7f1e76ba);
  background-size: 90%;
}

.companies.christian-counselor {
  background-image: var(--image-i61d92851);
  background-position: 50%;
  background-size: 90%;
}

.sp-progress-bar-wrapper-2 {
  height: 3px;
  cursor: pointer;
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 13px;
}

.sp-thumbnail-2 {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.sp-track-wrapper-2 {
  width: 100%;
  -webkit-backdrop-filter: saturate(200%) blur(15px);
  backdrop-filter: saturate(200%) blur(15px);
  background-color: rgba(255, 255, 255, .1);
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 4px;
  padding: 25px 30px;
}

.sp-details-wrapper-2 {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

.sp-track-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sp-controla-wrapper-2 {
  width: 100%;
  align-items: center;
  display: flex;
}

.collection-item-2 {
  height: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
}

.slider {
  width: 500px;
  background-color: rgba(255, 255, 255, 0);
  flex: 0 auto;
  margin-top: 2rem;
}

.section-4 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.section-4.hide {
  display: none;
}

.left-arrow {
  width: 2rem;
  height: 2rem;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.right-arrow {
  width: 2rem;
  height: 2rem;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.mask {
  position: relative;
}

.icon-embed-xxsmall, .icon-embed-xxsmall-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.paragraph-3 {
  display: inline;
}

.slide-2 {
  height: auto;
}

.heading-6-copy {
  text-align: center;
  margin-bottom: -3rem;
  font-size: 2.3em;
}

.sp-progress-bar-wrapper-3 {
  height: 3px;
  cursor: pointer;
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 13px;
}

.sp-thumbnail-3 {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.sp-track-wrapper-3 {
  width: 100%;
  -webkit-backdrop-filter: saturate(200%) blur(15px);
  backdrop-filter: saturate(200%) blur(15px);
  background-color: rgba(62, 9, 85, .53);
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 4px;
  padding: 10px;
}

.sp-details-wrapper-3 {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

.sp-track-3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon-embed-xxsmall-3 {
  width: 1rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cell-19 {
  align-items: center;
}

.div-block-58 {
  max-width: 1000px;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.image-19 {
  background-color: #fff;
  border-radius: 0;
  padding: 15px;
}

.image-20 {
  max-width: 50%;
}

.cell-20, .cell-21 {
  align-items: center;
}

.collection-list-wrapper {
  margin-top: 20px;
}

.div-block-59 {
  justify-content: center;
  display: flex;
}

.div-block-60 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25svh;
  display: flex;
}

.heading-14 {
  text-align: center;
  letter-spacing: 1rem;
  padding-left: 2rem;
  padding-right: 1rem;
  line-height: 1.5;
}

.collection-list-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.collection-list-wrapper-2 {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.slider-content {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
}

.text-block-3 {
  font-weight: 700;
}

html.w-mod-js [data-ix="blue-icon-initial-state"] {
  opacity: 0;
}

html.w-mod-js [data-ix="default-dropdown-position"] {
  height: 0;
}

@media screen and (max-width: 991px) {
  .background {
    overflow: hidden;
  }

  .navbar {
    background-color: rgba(0, 0, 0, .75);
    background-image: linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .25));
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 0;
    padding-bottom: 0;
    position: -webkit-sticky;
    position: sticky;
  }

  .div-block-7 {
    justify-content: space-between;
  }

  .nav-link {
    display: inline-block;
  }

  .special-heading.no-wrap {
    white-space: normal;
  }

  .page-wrapper {
    padding-top: 0;
  }

  .div-block-20.highlight-border {
    width: 70vw;
  }

  .div-block-22 {
    order: 1;
  }

  .div-block-23, .quick-stack-2 {
    align-items: stretch;
  }

  .div-block-32 {
    width: auto;
  }

  .quick-stack-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .sp-duration, .sp-elapsed {
    display: flex;
  }

  .quick-stack-7 {
    padding-right: 0;
  }

  .quick-stack-8 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: -5rem;
  }

  .image-17 {
    transform: scale(1.3);
  }

  .nav-menu {
    background-color: var(--main-bg);
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
  }

  .heading-13 {
    text-align: left;
  }

  .div-block-51 {
    display: inline;
  }

  .brand {
    display: none;
  }

  .brand.mobile {
    display: block;
  }

  .div-block-52 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr;
  }

  .menu-button.w--open {
    background-color: var(--accent);
  }

  .text-block-2 {
    margin-left: 0;
  }

  .div-block-7-copy {
    justify-content: space-between;
  }

  .companies {
    width: 22%;
  }
}

@media screen and (max-width: 767px) {
  .special-heading.no-wrap {
    text-align: center;
    font-size: 7vw;
  }

  .div-block-8 {
    justify-content: center;
  }

  .cell-9 {
    align-items: center;
  }

  .cell-10 {
    justify-content: center;
    align-items: center;
  }

  .heading-7 {
    text-align: center;
  }

  .div-block-35 {
    height: auto;
  }

  .sp-track-wrapper {
    padding: 20px;
  }

  .div-block-38 {
    height: auto;
  }

  .cell-16 {
    align-items: center;
  }

  .rich-text-block {
    padding-left: 0;
    padding-right: 0;
  }

  .image-17 {
    max-width: 80%;
    margin-top: 15%;
    padding-right: 10%;
    transform: none;
  }

  .heading-12 {
    margin-bottom: 40px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .heading-13 {
    font-size: 1.6em;
  }

  .div-block-52 {
    flex-direction: column;
    grid-template-columns: 1fr;
    display: block;
  }

  .quick-stack-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .companies {
    width: 30%;
  }

  .sp-track-wrapper-2 {
    padding: 20px;
  }

  .slider {
    width: 80vw;
    margin-top: 0;
  }

  .sp-track-wrapper-3 {
    padding: 20px;
  }

  .paragraph-4, .paragraph-5, .paragraph-6, .paragraph-7 {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .special-heading.no-wrap {
    font-size: 3em;
  }

  .div-block-8 {
    z-index: 1;
    position: relative;
  }

  .div-block-20.highlight-border {
    width: auto;
  }

  .dropdown {
    padding: 5px 10px;
  }

  .heading-6 {
    font-size: 1.7em;
  }

  .div-block-32 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .heading-7 {
    font-size: 2em;
  }

  .quick-stack-8 {
    padding-top: 140px;
    padding-left: 0;
    padding-right: 0;
  }

  .cell-16 {
    text-align: center;
    padding-top: 60px;
  }

  .mission-text ul {
    padding-left: 20px;
  }

  .image-17 {
    margin-top: 5%;
    transform: scale(1.7);
  }

  .heading-12 {
    font-size: 2em;
  }

  .quick-stack-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-menu {
    padding-bottom: 10px;
  }

  .heading-13 {
    font-size: 1.4em;
  }

  .div-block-51 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-direction: column;
    margin-bottom: 10px;
    display: flex;
  }

  .div-block-52 {
    grid-template-columns: 1fr;
  }

  .companies {
    width: 60%;
  }

  .heading-6-copy {
    font-size: 1.7em;
  }
}

#w-node-_4ad8fd50-f3a3-301b-0277-3fd3b5b1fe57-0d1f3880 {
  grid-template-rows: auto;
  grid-template-columns: 1.25fr 1fr;
}

#w-node-_4ad8fd50-f3a3-301b-0277-3fd3b5b1fe58-0d1f3880, #w-node-_4ad8fd50-f3a3-301b-0277-3fd3b5b1fe59-0d1f3880 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_3413ba36-c20b-2f6c-3b31-0c98217535b7-0d1f3880 {
  grid-template-rows: 100svh 100svh 100svh 100svh;
  grid-template-columns: 1fr;
  display: none;
}

#w-node-c826155d-57ab-05e6-9f2c-ec9ae5e0f7d9-0d1f3880 {
  grid-template-rows: 150vh 150vh 150vh 150vh;
  grid-template-columns: 1fr 1fr;
}

#w-node-c826155d-57ab-05e6-9f2c-ec9ae5e0f7da-0d1f3880 {
  grid-area: span 4 / span 1 / span 4 / span 1;
}

#w-node-c826155d-57ab-05e6-9f2c-ec9ae5e0f7e1-0d1f3880, #w-node-c826155d-57ab-05e6-9f2c-ec9ae5e0f7e8-0d1f3880, #w-node-c826155d-57ab-05e6-9f2c-ec9ae5e0f7ef-0d1f3880, #w-node-c826155d-57ab-05e6-9f2c-ec9ae5e0f7f6-0d1f3880 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b38df633-739c-a40e-f5a9-7029443f6241-443f623f {
  grid-template-rows: auto auto auto;
  grid-template-columns: .5fr 1fr .5fr;
}

#w-node-b38df633-739c-a40e-f5a9-7029443f6242-443f623f {
  grid-area: span 3 / span 1 / span 3 / span 1;
}

#w-node-b38df633-739c-a40e-f5a9-7029443f624a-443f623f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b38df633-739c-a40e-f5a9-7029443f624c-443f623f {
  grid-area: span 3 / span 1 / span 3 / span 1;
}

#w-node-b38df633-739c-a40e-f5a9-7029443f624e-443f623f {
  grid-template-rows: auto auto 1fr auto auto;
  grid-template-columns: 2rem 2rem;
}

#w-node-b38df633-739c-a40e-f5a9-7029443f624f-443f623f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b38df633-739c-a40e-f5a9-7029443f6253-443f623f {
  grid-column: span 2 / span 2;
}

#w-node-b38df633-739c-a40e-f5a9-7029443f6251-443f623f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f722e684-b13e-f261-4d3b-5658f108f59f-443f623f, #w-node-b38df633-739c-a40e-f5a9-7029443f6257-443f623f {
  grid-column: span 2 / span 2;
}

#w-node-b38df633-739c-a40e-f5a9-7029443f625a-443f623f, #w-node-b38df633-739c-a40e-f5a9-7029443f625f-443f623f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_518bc4b8-601b-4d8b-ba87-c95f06c48e3e-06c48e36 {
  justify-self: start;
}

#w-node-_518bc4b8-601b-4d8b-ba87-c95f06c48e43-06c48e36 {
  justify-self: center;
}

#w-node-_518bc4b8-601b-4d8b-ba87-c95f06c48e47-06c48e36 {
  justify-self: end;
}

#w-node-_18b674ee-18f8-1181-3b10-499bf464e13a-33c52b7a, #w-node-e0b5e656-b446-a61c-98e7-33e25e1b7818-33c52b7a, #w-node-e707dfc8-d04b-2b47-23cf-a7febf39987c-33c52b7a, #w-node-_7e44020d-8c63-ab8e-7e51-41cce891a3e3-33c52b7a, #w-node-e50b85a3-69d9-a315-6425-b55346ea0ef7-33c52b7a, #w-node-bbc96826-6087-dcc9-bc82-b661f1200ab3-33c52b7a, #w-node-_0892aa0d-8266-a3c0-6c92-ca66d8de8cb3-33c52b7a, #w-node-_27c18729-b273-c382-d302-1bebb12136b7-33c52b7a, #w-node-_73b8e0bc-c5f0-1909-824b-ebd132ea5c6f-33c52b7a, #w-node-fd324f4f-d45b-69ba-f831-a227e2b1d5ef-33c52b7a, #w-node-e527c551-b9e7-cec7-fd84-ba7ad8ac3e5c-33c52b7a, #w-node-_8090cf0a-ee4e-3dbb-a8b2-19d08afd10d9-33c52b7a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_07fcace4-ff04-4b5d-baab-de7bf7f7ffd1-adab564c {
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
}

#w-node-_07fcace4-ff04-4b5d-baab-de7bf7f7ffd2-adab564c, #w-node-_07fcace4-ff04-4b5d-baab-de7bf7f7ffd3-adab564c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f746352c-4f49-a1ba-600d-cde7218b832f-adab564c {
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
}

#w-node-f746352c-4f49-a1ba-600d-cde7218b8330-adab564c, #w-node-f746352c-4f49-a1ba-600d-cde7218b8334-adab564c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-cef99fcc-1c73-d7c9-9e4d-ca39f1e955a6-709e609a {
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1fr;
}

#w-node-cef99fcc-1c73-d7c9-9e4d-ca39f1e955a7-709e609a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ddc219d6-10f3-d684-9c95-b4d0448f8ea8-709e609a {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-ddc219d6-10f3-d684-9c95-b4d0448f8ea9-709e609a, #w-node-ab867f8c-e77b-2ae8-afae-02b209002862-709e609a, #w-node-cef99fcc-1c73-d7c9-9e4d-ca39f1e955a8-709e609a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c269fcfb-7db4-38a7-b4aa-aae4e5d4a491-709e609a {
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1fr;
}

#w-node-c269fcfb-7db4-38a7-b4aa-aae4e5d4a492-709e609a, #w-node-c269fcfb-7db4-38a7-b4aa-aae4e5d4a493-709e609a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_4ad8fd50-f3a3-301b-0277-3fd3b5b1fe57-0d1f3880 {
    grid-template-rows: auto;
    grid-template-columns: 1.75fr 1.75fr;
  }

  #w-node-_07fcace4-ff04-4b5d-baab-de7bf7f7ffd1-adab564c, #w-node-f746352c-4f49-a1ba-600d-cde7218b832f-adab564c {
    grid-template-rows: auto;
    grid-template-columns: auto;
  }

  #w-node-c269fcfb-7db4-38a7-b4aa-aae4e5d4a491-709e609a {
    grid-template-rows: auto;
    grid-template-columns: 1.5fr;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_4ad8fd50-f3a3-301b-0277-3fd3b5b1fe57-0d1f3880 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_4ad8fd50-f3a3-301b-0277-3fd3b5b1fe58-0d1f3880 {
    order: 9999;
  }

  #w-node-_3413ba36-c20b-2f6c-3b31-0c98217535b7-0d1f3880 {
    display: grid;
  }

  #w-node-c826155d-57ab-05e6-9f2c-ec9ae5e0f7d9-0d1f3880 {
    grid-template-rows: 150vh 150vh 150vh;
    grid-template-columns: 1fr;
    display: none;
  }

  #w-node-c826155d-57ab-05e6-9f2c-ec9ae5e0f7da-0d1f3880 {
    grid-row: span 4 / span 4;
  }

  #w-node-b38df633-739c-a40e-f5a9-7029443f6241-443f623f {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  #w-node-b38df633-739c-a40e-f5a9-7029443f6242-443f623f {
    grid-row: span 3 / span 3;
  }

  #w-node-b38df633-739c-a40e-f5a9-7029443f624a-443f623f {
    order: -9999;
  }

  #w-node-b38df633-739c-a40e-f5a9-7029443f624c-443f623f {
    grid-row: span 3 / span 3;
  }

  #w-node-cef99fcc-1c73-d7c9-9e4d-ca39f1e955a6-709e609a {
    grid-template-rows: auto;
    grid-template-columns: 1.5fr;
  }

  #w-node-cef99fcc-1c73-d7c9-9e4d-ca39f1e955a8-709e609a {
    order: -9999;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_518bc4b8-601b-4d8b-ba87-c95f06c48e3e-06c48e36, #w-node-_518bc4b8-601b-4d8b-ba87-c95f06c48e47-06c48e36 {
    justify-self: center;
  }
}


